@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="pt-4 pb-4">
        <h1 class="display-4 text-primary-emphasis">Welcome</h1>
        <div class="home-text pt-3">
            <h3>A simple CRUD system for a Student Enrollment application</h3>
            <p class="text-body-secondary">made with ASP.NET Core MVC (.NET 8) and Microsoft SQL Server.</p>
        </div>
    </div>
    <div class="text-start mt-4">
        <span class="home-text">This web application allows users to perform the following actions:</span>
        <ul>
            <li class="home-text">
                <b>Create:</b> Add a new student's basic information, including their course, and subjects.
            </li>
            <li class="home-text">
                <b>Read:</b> Display a list of all enrolled students with their information.
            </li>
            <li class="home-text">
                <b>Update:</b> Modify the information of an existing student.
            </li>
            <li class="home-text">
                <b>Delete:</b> Remove a student from the enrollment records.
            </li>
        </ul>
    </div>
</div>
